body {
    font-family: 'Open sans', serif;
    margin:0;
    padding:0;
}

#wrapper {
    max-width: 600px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

#titlecontainer {
    margin-left: auto;
    margin-right: auto;
    margin-top:25px;
    margin-bottom:25px;
}

#titlecontainer h1 {
    font-weight: normal;
    font-size:75px;
    margin:0;
    line-height:90%;
    padding-left:34.1px;
    text-indent:-34.1px;
}

#titlecontainer h1:before {
    content: "{";
    font-size: 90px;
}

#titlecontainer h1:after {
    content: "}";
    font-size: 90px;
}

#menucontainer, #titlecontainer, #content, #title{
    display:table;
}

#content {
    text-align: justify;
}

#menucontainer {
    margin-top: 40px;
    text-align: center;
    width:100%;
}

#menu { 
    margin: 0; 
    padding: 0;
    width: 100%;
    min-width:150px;
}

#menu li { 
      float:left;
      width:25%;
}

#menu li a { 
      display:block; 
      padding-top:10px;
      padding-bottom:10px;
      text-decoration:none;
      color:#000000;
      background:#e8e8e8;
}

#menu li a.active {
      color: #e4e4e4;
      background: #030303;
}

#menu li a:hover { 
      background:#ccc; 
}

h2 {
    font-weight: normal;
}

ol.pubs li {
    padding-bottom: 0.8em;
}

img{
    border-radius:50%;    
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    
    
}
img:hover{
    transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
}



/*#sm {*/
/*      margin:0;*/
/*      padding:0;*/
/*}*/
/*#sm li {*/
/*      float:left;*/
/*      margin:10px;*/
/*      }*/
/*#sm li a {*/
/*      display:block;*/
/*      text-decoration:none;*/
/*      color:#000000;*/
/*      }*/
