/*-----------------------------*/
/* Big Picture stuff goes here */
/*-----------------------------*/
body {
    font-family: 'Open sans', serif;
    margin:0;
    padding:0;
    overflow-y: scroll;
}

#wrapper {
    max-width: 600px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

#menu_container, #title_container, #link_list_container, #justified_content, #centered_content, #title{
    display:table;
}



/*--------------------------------*/
/* Stuff for title text goes here */
/*--------------------------------*/
#title_container {
    margin: 25px auto;
    font-weight: normal;
    font-size:75px;
    line-height:90%;
}

#title:before, #title:after, #title_left:before, #title_right:after {
    font-size: 90px;
}

#title_right {
    float: right;
    z-index: 2;
    background: #ffffff;
}

#title_left {
    float: left;
    z-index: 1;
    background: #ffffff;
}

#title:before, #title_left:before {
    content: "{";
}

#title:after, #title_right:after {
    content: "}";
}



/*------------------------------*/
/* Random content settings here */
/*------------------------------*/
#justified_content {
    text-align: justify;
}

#centered_content {
    text-align: center;
    margin: 0 auto;
}



/*--------------------------*/
/* Stuff for menu goes here */
/*--------------------------*/
#menu_container {
    margin-top: 40px;
    text-align: center;
    width:100%;
}

#menu { 
    margin: 0; 
    padding: 0;
    width: 100%;
    min-width:150px;
    list-style-type: none;
}

#menu li { 
      float:left;
      width:25%;
}

#menu li a { 
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    color: black;
    background:#e8e8e8;
}

#menu li a.active {
    color: #e4e4e4;
    background: #030303;
}

#menu li a:hover {
    background:#ccc;
}

#menu li a.active:hover {
    color: black;
}

/*-------------------------------*/
/* Stuff for link list goes here */
/*-------------------------------*/
#link_list_container {
    margin: 30px auto;
    text-align: center;
}

#link_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#link_list li {
    float:left;
    /*width:125px;*/
    margin-right:5px;
    margin-left:5px;
}

#link_list li a {
    display:block;
    color:#000000;
    background:#e8e8e8;
    border: black solid 3px;
    padding: 3px 7px;
}

#link_list li a:hover {
    background:#aaaaaa;
}



/*----------------------------*/
/* Stuff for images goes here */
/*----------------------------*/
img{
    border-radius:50%;
    padding:20px;
    width:100px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

/*img:hover{*/
    /*transform:rotate(30deg);*/
    /*-webkit-transform:rotate(30deg);*/
/*}*/



/*-----------------------------*/
/* Formatting for publications */
/*-----------------------------*/
ol.pubs li {
    padding-bottom: 0.8em;

    width: 100%;
/* Questionable */
}

/*Formatting authors */
pub-author:after {
    /*This adds a comma after every author's name*/
    content: ", ";
}
pub-author:nth-last-of-type(2):after {
    /*This scrubs the comma from the second to last author's name */
    content: "";
}
pub-author:nth-child(n+2):after {
    /*This adds a comma to every author after the first*/
    content: ", ";
}
pub-author.me {
    font-weight: bold;
}
pub-author:last-of-type:before {
    content: "and ";
}
pub-author:last-of-type:after {
    content: "";
}

/*Formatting years*/
pub-year:before{
    content: "(";
}
pub-year:after{
    content: ") ";
}

/*Formatting titles*/
pub-title:before {
    content: '"';
}
pub-title:after {
    content: '". ';
}

/*Formatting journals and conferences*/
pub-journal, pub-conference {
    font-style: italic;
}
pub-journal:after {
    content: ",";
}
pub-conference:after {
    content: ".";
}

/*Formatting journal volume*/
pub-volume:before {
    content: "Vol. ";
}
pub-volume:after {
    content: ", ";
}

/*Formatting journal pages*/
pub-pages:before {
    content: "pp. ";
}
pub-pages:after {
    content: ". ";
}

/*Formatting journal doi*/
pub-doi:before {
    content: "doi:";
}
pub-doi:after {
    content: ".";
}

/*Formatting notes on publications*/
pub-note {
    font-style: italic;
}
pub-note:after {
    content: ".";
}

pub-award {
    font-weight: bold;
    color: #157EFB;
    display: block;
}

pub-award:before {
}

pub-award:after {
}



/*---------------------------*/
/* Misc other things go here */
/*---------------------------*/
a {
    text-decoration:none;
}

h2 {
    font-weight: normal;
}

img.award {
    width:1.4em;
    padding: 0;
    margin-bottom:-0.2em;
    margin-top:-0.2em;
    margin-left:-0.2em;
}

