/*-----------------------------*/
/* Big Picture stuff goes here */
/*-----------------------------*/
body {
    font-family: 'Open sans', serif;
    margin:0;
    padding:0;
    overflow-y: scroll;
}

#wrapper {
    max-width: 600px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

#menu_container, #title_container, #link_list_container, #justified_content, #centered_content, #title{
    display:table;
}



/*--------------------------------*/
/* Stuff for title text goes here */
/*--------------------------------*/
#title_container {
    margin: 25px auto;
    font-weight: normal;
    font-size:75px;
    line-height:90%;
}

#title:before, #title:after, #title_left:before, #title_right:after {
    font-size: 90px;
}

#title_right {
    float: right;
    z-index: 2;
    background: #ffffff;
}

#title_left {
    float: left;
    z-index: 1;
    background: #ffffff;
}

#title:before, #title_left:before {
    content: "{";
}

#title:after, #title_right:after {
    content: "}";
}



/*------------------------------*/
/* Random content settings here */
/*------------------------------*/
#justified_content {
    text-align: justify;
}

#centered_content {
    text-align: center;
}



/*--------------------------*/
/* Stuff for menu goes here */
/*--------------------------*/
#menu_container {
    margin-top: 40px;
    text-align: center;
    width:100%;
}

#menu { 
    margin: 0; 
    padding: 0;
    width: 100%;
    min-width:150px;
}

#menu li { 
      float:left;
      width:25%;
}

#menu li a { 
      display:block; 
      padding-top:10px;
      padding-bottom:10px;
      color:#000000;
      background:#e8e8e8;
}

#menu li a.active {
      color: #e4e4e4;
      background: #030303;
}

#menu li a:hover { 
      background:#ccc; 
}



/*-------------------------------*/
/* Stuff for link list goes here */
/*-------------------------------*/
#link_list_container {
    margin: 30px auto;
    text-align: center;
}

#link_list {
    margin: 0;
    padding: 0;
}

#link_list li {
    float:left;
    width:125px;
    margin-right:-1.5px;
    margin-left:-1.5px;
}

#link_list li a {
    display:block;
    color:#000000;
    background:#e8e8e8;
    border: black solid 3px;
    padding: 3px 0;
}

#link_list li a:hover {
    background:#aaaaaa;
}



/*----------------------------*/
/* Stuff for images goes here */
/*----------------------------*/
img{
    border-radius:50%;
    padding:20px;
    width:100px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

img:hover{
    transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
}



/*-----------------------------*/
/* Formatting for publications */
/*-----------------------------*/
ol.pubs li {
    padding-bottom: 0.8em;
}

div.author_list {
    display: inline;
}

span.author:after {
    content: ", ";
}

span.me {
    font-weight: bold;
}

span.author:last-of-type:before {
    content: "and ";
}

span.author:last-of-type:after {
    content: "";
}

span.year:before{
    content: "(";
}

span.year:after{
    content: ") ";
}

span.title:before {
    content: '"';
}

span.title:after {
    content: '". ';
}

span.journal, span.conference {
    font-style: italic;
}

span.journal:after {
    content: ",";
}

span.conference:after {
    content: ".";
}

span.volume:before {
    content: "Vol. ";
}

span.volume:after {
    content: ", ";
}

span.pages:before {
    content: "pp. ";
}

span.pages:after {
    content: ". ";
}

span.doi:before {
    content: "doi:";
}

span.doi:after {
    content: " ";
}

span.pdf:before {
    content: "(";
}

span.pdf:after {
    content: ").";
}

/*---------------------------*/
/* Misc other things go here */
/*---------------------------*/
a {
    text-decoration:none;
}

h2 {
    font-weight: normal;
}



