body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

h2, h3 {
    color: #2483A6;
}

div#title h1 {
    font-size:45px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

div#title h2 {
    text-align: center;
}

div#wrapper {
    max-width: 700px;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: white;
    overflow: hidden;
}

div.sidebar-left {
    float: left;
    width: 225px;
    margin-right: 25px;
    margin-left: 0;
}

div.content-right {
    float: left;
    width: 450px;
    margin-left: 0;
    margin-right: 0;
}

div.content-center {
    max-width: 650px;
    min-width: 450px;
}

div.content-right p {
    margin-top: 0;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

div.sidebar-left h3{
    margin-bottom: 0.25em;
}

div.content-right h3{
    margin-bottom: 0.25em;
}

div.sidebar-left p {
    margin-top: 0;
    margin-left: 10px;
}

a {
    color: #2483A6;
}

div.navbar-container {
    display:table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul.navbar {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: black;
    margin:5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    border: solid 1px gray;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

ul.navbar li a#active {
    background: #2483A6;
    color: white;
}


ul.navbar li a:hover {
    background: #2483A6;
    color: white;
}

div#copyright {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: white;
    font-size: 12px;
}

th {
    background: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

th, td {
    padding-bottom:3px;
    padding-top:3px;
    padding-left: 7px;
    padding-right: 7px;
}

tr.noclass {
    background: gray;
}